@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

* 
{
margin: 0;
padding: 0;
}
body
{
font-family: sans-serif;
}

#nav-bar{
    position: sticky;
    top: 0;
z-index: 10;
}
.navbar{
    background-color: #2E2F34;
    padding: 0 !important;
    
}

.kj{
    color: white;
}

.navbar-brand {
    color: white;
    padding-left: 20px;
    font-weight: 300px;
}

.navbar-brand span {
    color: orange;
    font-size: 30px;
}


.navbar-nav li
{
padding: 0 10px;
}

.navbar-nav li a
{
color: white;
font-weight: 600;
float: right;
text-align: left;
}


.navbar-toggler{
    outline: none !important;
}

/*------------banner---------------*/
#banner
{
    background-color: #2E2F34;
    color: white;
    padding-top: 5%;
}

.promo-title
{
font-size: 40px;
font-weight: 600;
margin-top: 100px;
margin-bottom: px; 
line-height: 1; 
}

#pfp{
    padding: 10px;
    margin: 10px;
    background-image: white;
}
.progress-bar {
    width: 10px;
    background-color: aqua;
}
.promo-title span{
    color: orange;
}

.progress {
z-index: -10
}

.border-end{
    outline: none;
    color: white;
    text-decoration: none;
    
}
.a{
    color: white;
    text-decoration: none;


}
#contactBtn{
    border-radius: 0px;
    
}


.intro{
    color: #e7a355;
    font-family: 'Open Sans', sans-serif;
    margin-top: 70px;
}

.frontend
{
    font-size: 40px;
    font-weight: 600;
    margin-bottom: px; 
    line-height: 1; 
}
.frontend span
{
color: orange; 
}

.desc{
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
font-weight: 200;

}